[submodule "vendor/robertefry/PenguinEngine"]
	path = vendor/robertefry/PenguinEngine
	url = https://github.com/robertefry/PenguinEngine.git
[submodule "vendor/idsc-frazzoli/tensor"]
	path = vendor/idsc-frazzoli/tensor
	url = https://github.com/idsc-frazzoli/tensor.git
