[submodule "vendor/JOML"]
	path = vendor/JOML
	url = https://github.com/JOML-CI/JOML.git
[submodule "vendor/PenguinEngine"]
	path = vendor/PenguinEngine
	url = https://github.com/robertefry/PenguinEngine.git
